{
 :juxt.site.alpha/seed-file "site-modules/seed/2022-05-24-141944.edn.zip"
 :juxt.site.alpha/base-uri "http://localhost:2021"
 :juxt.site.alpha.unix-pass/password-prefix "site/local/"
 :juxt.site.alpha/basic-auth-user #profile {:dev "admin" :test "admin"}
 :juxt.site.alpha/basic-auth-pwd #profile {:dev "admin" :test "admin"}
 :ig/system
 {:juxt.site.alpha.db/xt-node
  {:xtdb/tx-log {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                            :db-dir ".xtdb/txes"}}
   :xtdb/document-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                                    :db-dir ".xtdb/docs"}}
   :xtdb/index-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                                 :db-dir ".xtdb/idxs"}}}
  :juxt.site.alpha.server/server
  {:juxt.site.alpha/xt-node #ig/ref :juxt.site.alpha.db/xt-node
   :juxt.site.alpha/port 2021
   :juxt.site.alpha/base-uri #ref [:juxt.site.alpha/base-uri]
   :juxt.site.alpha/dynamic? #profile {:dev true :test false}}
  :juxt.site.alpha.nrepl/server
  {:juxt.site.alpha/port 7888}}}
